body{
  display: flex;
  overflow: auto;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  background-image: url(../images/photo1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  flex:1;
}
.content{
  background-color:rgba(255,255,255, 255);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0, 0, 0, 0.25);
  box-sizing:border-box;
  left:50%;
  padding: 5vmin 10vmin;
  position: relative;
  text-align:center;
  top:100%;
  margin-top: -40%;
  transform:translate(-50%, -50%);
  height: 780px;
  
}

.Footer{
  text-align:center;
  height: 57px;
}

i{
  margin-top: 10px;
}

h1{
  margin-top: -10px;
  margin-bottom: 15px;
  color: #373b3e;
}

#foot{
  margin-top: -25px;
}

#nav a{
  font-size: 19px;
}

#header a{
    padding-top: 8px;
}

.Navbar{
  height: 50px;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d5d5d5;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#video_exercise{
    height: 670px;
    overflow: auto;
    width: 1000px;
}

#video_exercise h2{
  margin-top: 18px;
  float: left;
  color: #373b3e;
}

#quiz{
  float: left;
  margin-top: 70px;
  margin-left: -150px;
}

#quiz p{
  font-size: 25px;
  color: #373b3e;
}

#quiz input{
  margin-left: 50px;
}

#button{
  float: right;
  height: 40px;
  width: 160px;
  font-size: 23px;
  background-color: #474b4e;
  border:solid 1px #474b4e;
  border-radius: 4px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

#button:hover{
  background-color: #373b3e;
  border:solid 1px #373b3e;
  border-radius: 4px;
  color: white;
}

#logo{
  margin-top: -77px;
  margin-bottom: -100px;
}
#upr{
    margin-top: 40px;
}

#Test{
  float: left;
}

#test_button{
  float: right;
  font-size: 23px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #474b4e;
  border:solid 1px #474b4e;
  border-radius: 4px;
  color: white;
  margin-top: 23px;
  margin-right: 10px;
}

#test_button:hover{
  text-decoration: none;
  background-color: #373b3e;
  border:solid 1px #373b3e;
  border-radius: 4px;
  color: white;
}

#question{
  text-align: left;
  border:solid 3px #474b4e;
  border-radius: 4px;
  width: 900px;
  margin-bottom: 15px;
  padding-left: 15px;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.like__btn {
  float: right;
  margin-right: 15px;
  margin-top: 10px;
  padding: 10px 30px;
  background: #474b4e;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  color: #e8efff;
  outline: none;
  border: none;
  cursor: pointer;
}

.like__btn:hover{
  text-decoration: none;
  background-color: #373b3e;
  border-radius: 4px;
  color: white;
}