html {
  height:100%;
  background-color: #1878e0;
}



body {
  margin:0px;
}
.parallax {
  background-image: url(tues_homepage_purva_snimka.jpg);
  min-height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  background-image: url(hr_2018.jpg);
  min-height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2
{
   background-image: url(code.jpg);
  min-height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font: 30px Arial bold, sans-serif;
  text-indent: 50px;
  text-align: center;
  margin-right: 50px;
  color:white;
  /*font-size: large;*/
  /*letter-spacing: 3px;*/
}

h1 {
  font: 40px Arial bold, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.content {
  padding-top: 10px;
  background-color: #343a40;
  /*background: rgba(0, 128, 0, 0.3);*/
  /*opacity: 0.4;*/
  height: auto;
  width: auto;
  border: 5px solid #343a40;
  /*background-color: rgba(255, 255, 255, 0.8);*/
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  /*  padding: 5vmin 10vmin;*/
    position:-ms-device-fixed;
  text-align:center;
  left: 50%;
  top:50%;
}
{
  background-color: #343a40;

}

.container{
  padding-bottom: 1px;
}