html {
  height:100%;
  background-color: #1878e0;
}

body {
  margin:0px;
}
.parallax {
  background-image: url(../images/tues_homepage_purva_snimka.jpg);
  min-height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  background-image: url(../images/hr_2018.jpg);
  min-height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2
{
   background-image: url(../images/code.jpg);
  min-height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font: 30px Arial bold, sans-serif;
  text-indent: 50px;
  text-align: center;
  margin-right: 50px;
  color:white;
}

h1 {
  font: 40px Arial bold, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.content {
  padding-top: 10px;
  background-color: #343a40;
  height: auto;
  width: auto;
  border: 5px solid #343a40;
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  position:-ms-device-fixed;
  text-align:center;
  left: 50%;
  top:50%;
}

footer{
  text-align:center;
}

.container{
  padding-bottom: 1px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#logo{
  margin-top: -80px;
  margin-bottom: -100px;
}