.form-group{
    margin-bottom: 50px;
}

label{
    font-size: 28px;
    color: #4CAF50;
}

input{
    margin-top: 5px;
    font-size: 20px;
}

.l1{
    margin-bottom: 10px;
}

button{
    border:solid 1px #000000;
    border-radius: 4px;
    background-color: #05bd05;
    color: #000000;
    height: 40px;
    width: 275px;
    font-size: 28px;
    margin-top: -15px;
    margin-bottom: 25px;
}

button:hover{
    background-color: #107805;
    color: white;
}

.loginText {
    font-size: 30px;
    transition-timing-function: ease-out;
    text-align: center;
    padding-bottom: 10px;
    -webkit-animation-duration: 10s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    margin-bottom: 40px;
}

h2{
   margin-top: -10px;
   margin-bottom: 30px;
   font-size: 40px;
   color: #4CAF50;
}

body {
  margin: 0;
  background-color: #000;
}

.container {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0, 0, 0, 0.25);
  box-sizing:border-box;
  left:50%;
  padding: 5vmin 10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
  z-index: 1;
  margin-top: -25px;
}

#canv{
  position: fixed;
  top: 0;
  left: 0;
}