<html lang="bg">
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel = "stylesheet" href="../../static/css/home.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" class="Navbar">
            <div className="d-flex flex-grow-1" id="nav">
                    <a href="/logged_in" className="navbar-brand" id="logo">
                        <img src="/static/images/Logo.jpg" width="190" height="190" alt="" className="d-inline-block align-middle mr-2"/>
                    </a>
                    <ul className="navbar-nav">
                        <li className="nav-item">
                            <a href="/"  className="nav-link">   8 клас</a>
                        </li>
                        <li className="nav-item">
                            <a href="/"  className="nav-link">   9 клас</a>
                        </li>
                        <li className="nav-item">
                            <a href="/"  className="nav-link">   10 клас</a>
                        </li>
                        <li className="nav-item">
                            <a href="/class11"  className="nav-link">   11 клас</a>
                        </li>
                        <li className="nav-item">
                            <a href="/"  className="nav-link">   12 клас</a>
                        </li>
                    </ul>
                </div>

                <div className="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7" id="nav">
                        <ul className="navbar-nav ml-auto flex-nowrap">
                            <li className="nav-item">
                                <a href="#" className="nav-link"> Profile: {this.state.name}</a>
                            </li>
                            <li className="nav-item">
                                <a href="/logout"  className="nav-link"  onClick={this.LoggedOut}> LogOut</a>
                            </li>
                        </ul>
                </div>
        </nav>

        <div class="parallax"></div>
        <div class="content">
            <h1>Какво е ТУЕС?</h1>

            <p>
                ТУЕС(Технологично Училище Електронни Системи към ТУ) не е просто училище, а цяла една общност. През изминалите години осъзнах колко важни
                са всъщност приятелствата, които изграждам сега, защото след време ще имам нужда от тях. Начинът и нивото на обучение са различни, от
                което и да е друго училище и това се отразява много върху личностната самооценка на човек. ТУЕС не е някое квартално училище!
            </p>
        </div>

        <div class="parallax1"></div>
        <div class = "content">
            <h1>Нашата цел!</h1>
            <p>
                С ElsysLearn ние целим да подпомогнем учебния процес в ТУЕС, като сме решили да се концентрираме върху специалните предмети.
                Всички уроци, в тази платформа, ще бъдат водени лично от нас. Затова смятаме, че обучението ученик-ученик би било много полезно.
            </p>
        </div>

        <div class="parallax2"></div>

        <footer className="text-center text-white bg-dark" class="Footer" style="background-color: #343a40">

        </footer>

        <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

{#        <script type="text/babel" src="/static/js/HomePage/LoggedInNavbar.js"></script>#}
{#        <script type="text/babel">#}
{#            ReactDOM.render(<Navbar/>, document.querySelector('.Navbar'))#}
{#        </script>#}

        <script type="text/babel" src="/static/js/HomePage/Footer.js"></script>
        <script type="text/babel">
            ReactDOM.render(<Footer/>, document.querySelector('.Footer'))
        </script>

    </body>
</html>
